/* notes container */
.note-container {
  height: 100%;
}

.note-container h2 {
  margin-bottom: 20px;
}

.note-container_notes {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  overflow-y: scroll;
}

/* single note */
.note {
  padding: 25px;
  height: 280px;
  width: 260px;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  border-radius: 30px;
}

.note-title {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.note-description {
  margin-top: 5px;
  flex: 1;
  resize: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  border: none;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
